<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  {% block head %}
      <title>Catalog App - {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
      {% endblock %}
</head>
<body>
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1>
              <a href='{{url_for('list_catalog') }}'>
              Catalog App
              </a>
            </h1>
        </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <!-- start content -->
        <div id="content">
		        {% block content %}{% endblock %}
        </div>
        <!-- end content -->
        <div style="clear: both;">
            &nbsp;</div>
    </div>
    <!-- end page -->
    <div id="footer-bg">
        <div id="footer">
            <p id="legal">
                &copy;2007 Personified . All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">
                    Free CSS Templates</a></p>
            <p id="links">
                <a href="#">Privacy</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; <a href="#">Terms</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="http://validator.w3.org/check/referer"
                    title="This page validates as XHTML 1.0 Transitional">
                    <abbr title="eXtensible HyperText Markup Language">
                        XHTML</abbr></a> &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer"
                            title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
        </div>
    </div>
</body>
</html>
