<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  {% block head %}
      <title>Catalog App - {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
      {% endblock %}
</head>
<body>
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1>
              <a href='{{url_for('list_catalog') }}'>
              Catalog App
              </a>
            </h1>
        </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <!-- start content -->
        <div id="content">
		        {% block content %}{% endblock %}
        </div>
        <!-- end content -->
        <div style="clear: both;">
            &nbsp;</div>
    </div>
    <!-- end page -->
    <div id="footer-bg">
        <div id="footer">          
        </div>
    </div>
</body>
</html>
