<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  {% block head %}
      <title>Catalog App - {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
      {% endblock %}
</head>
<body>
    <!-- start header -->
    <div id="header">
      <div>
        <h3 align="right">
          {% if 'user_id' not in session %}
              <a style="color:#FFFFFF" href='{{url_for('showLogin') }}'>[Login]</a>
            {% else %}
              <a style="color:#FFFFFF" href='{{url_for('gdisconnect') }}'>[Logout]</a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </h3>
      </div>
        <div id="logo">
            <h1>
              <a href='{{url_for('list_catalog') }}'>
              Catalog App
              </a>
            </h1>
        </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <!-- start content -->
        <div id="content">

          <!-- Place holder for flash messages -->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class = 'input-validation-error'>
                  <ul>
                  {% for message in messages %}
                      <li> <strong> {{ message }} </strong> </li>
                  {% endfor %}
                  </ul>
                </div>
                  {% endif %}
              {% endwith %}
          <!-- Flash message ends -->
		        {% block content %}{% endblock %}
        </div>
        <!-- end content -->
        <div style="clear: both;">
            &nbsp;</div>
    </div>
    <!-- end page -->
    <div id="footer-bg">
        <div id="footer">
        </div>
    </div>
</body>
</html>
